*{
    padding: 0;
    margin: 0;
}
body{
    font: 16/1.5;
    font-family: 'Karla', sans-serif;
}


.container{
    width: 75%;
    margin: auto;
    overflow: hidden;
}

h1, h2, h3, h4, h5{
    font-family: 'DM Serif Display', serif;
}

h1{
    font-weight: 400;
    font-size: 60px;
}
button{
    font-family: 'Karla', sans-serif;
    border: 1px solid black;
    padding: 12px 30px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    background: transparent;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
}

button:hover , a:hover{
    cursor: pointer;
}
a:hover{
    cursor: pointer;
    color: black;
}

hr{
    width: 200px;
    margin-left: 0px;
}

/*header*/

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
}

header a{
    color: hsl(273, 4%, 51%);
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 15px;
    font-weight: 400;
    cursor: default;
}

#showcase {
    background-color:hsl(256, 26%, 20%);
    color: white;
    display: inline-block;
    max-height: 70%;
    position: relative;

}

#showcase .container{
    display: flex;
    justify-content: space-between;
    padding: 70px;
}

#showcase-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
}


#showcase-text button{
    margin-top: 15px;
    border: 1px solid white;
    color: white;
}

#showcase-text h1, #showcase-text p, #showcase-text button{
    margin-top: 30px;
}


#showcase .people-img{
    height:  450px;
    right: 130px;
    bottom: -60px;
    overflow: visible;
    position: absolute;
    
}

#design-1{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    height: 360px;
    
  }

  #design-2{
    position: absolute;
    bottom: -60%;
    left: 0;
    z-index: 1;
    height: 360px;
    overflow: visible;
  }

  /*were different 3 sections*/

#were-different{
    margin-top: 100px;
}

#were-different hr{
    height: 0px;
    border: none;
    border-top: 1px solid hsl(273, 4%, 51%);
    margin-bottom: 30px;
}

 .boxes{
    margin-top: 50px;
    display: flex;
    align-self: auto;
    justify-content: space-around;
}

 .box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

#were-different .box img, #were-different h4, #were-different .box p{
    margin: 8px;
}

#were-different .box img{
    height: 60px;
}

/*how we work card*/
#how-we-work-card{
    position: relative;
    margin-top: 100px;
    background: hsl(256, 26%, 20%);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

#how-we-work-card h1{
    margin: 10px;
    font-size: 50px ;
    width: 50%;
}

#how-we-work-card button{
    color: white;
    border-color: white;
    margin-right: 40px;
}

#design-3{
    position: absolute;
    overflow: hidden;
    right: 0;
    z-index: 1;
    height: 100%;
  }

  /*footer*/
#footer-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: auto;
      background:hsl(0, 0%, 98%);
      margin-top: 100px;
      padding: 80px;
      margin-bottom: 20px;
  }

 .social{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: flex-start;
 }
 .social ul li{
     display: inline;
     margin-left: 5px ;
 }

 #footer-card hr{
     width: 100%;
     margin-top: 10px;
     margin-bottom: 10px;
    height: 0px;
    border: none;
    border-top: 1px solid hsl(273, 4%, 51%);

 }

 #footer-card .box h6{
     color: hsl(273, 4%, 51%);
     margin-bottom: 10px;
 }

 #footer-card .box ul{
     list-style-type: none;
     font-weight: 400 ;
 }
